alog==0.9.13
torch==1.0.0
scipy==1.1.0
scikit_image==0.13.1
opencv_python==3.4.2.17
tqdm==4.19.9
numpy==1.14.5
torchvision==0.2.1
Cython==0.29.2
dsntnn==0.4.0a0
imgaug==0.2.7
matplotlib==3.0.2
Pillow==5.4.1
scripts==2.0
skimage
